body {
  background-image: url('/background.jpg');
  background-size: cover; 
}


.pending,
.in-progress,
.complete,
.deploy,
.defer {
  border: 1px solid black;
  border-radius: 10px;
  margin: 25px;
}
.pending {
  background: grey;
}

.in-progress {
  background: orange;
}

.complete {
  background: green;
}

.deploy {
  background: darkblue;
}

.defer {
  background: darkgrey;
}

.task-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border: 5px solid white;
  border-radius: 10px;
}

.col-header {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.my-card {
  margin: 12px;
}

.card-text {
  resize: none; /* Disable textarea resizing */
  max-height: 100px; /* Set max-height for the textarea */
  overflow-y: auto;}

.filter {
  display: flex;
  margin: 25px;
}

@media screen and (max-width: 480px) {
  .filter {
    display: grid;
  }
}

.filter-input {
  margin: 0 20px 10px 5px;
  border-radius: 6px;
  width: 170px;
  padding: 5px;
}

#priority,
#status {
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 6px;

}

.delete-task {
  cursor: pointer;
}

.form-submit-button {
  width: 50%;
  margin-left: 98px;
}

.edit-form {
  display: grid;
  margin: 10px;
}

.edit-form > select {
  width: 120px;
  margin: 8px;
}

#status {
  margin: 10px;
}

